<div class="container">
  <form class="login-email" (ngSubmit)="onRegister()" [formGroup]="registerForm">
    <p
      class="login-text"
      style="font-size: 2rem; font-weight: 800; font-style: italic"
    >
      Sign Up
    </p>
    <div class="form-group">
      <input
        type="text"
        placeholder="Username"
        class="form-control"
        formControlName="name"
      />
      <div *ngIf="getErrors('name') && getField('name')?.touched">
        <p *ngIf="getErrors('name')?.['required']">
          please provide a user name
        </p>
        <p *ngIf="getErrors('name')?.['minlength']">
          user name must be 3 characters and more
        </p>
        <p *ngIf="getErrors('name')?.['maxlength']">
          user name must less than 50 characters
        </p>
      </div>
    </div>
    <div class="form-group">
      <input
        type="email"
        placeholder="Email"
        name="email"
        class="form-control"
        formControlName="email"
      />
      <div *ngIf="getErrors('email') && getField('email')?.touched">
        <p *ngIf="getErrors('email')?.['required']">please provide a email</p>
        <p *ngIf="getErrors('email')?.['email']">
          please provide a valid email
        </p>
      </div>
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Password"
        name="password"
        class="form-control"
        formControlName="password"
      />
      <div *ngIf="getErrors('password') && getField('password')?.touched">
        <p *ngIf="getErrors('password')?.['required']">
          please provide a password
        </p>
        <p *ngIf="getErrors('password')?.['minlength']">
          please provide a valid password
        </p>
      </div>
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <input
          type="text"
          placeholder="State"
          class="form-control"
          formControlName="state"
        />
        <div *ngIf="getErrors('state') && getField('state')?.touched">
          <p *ngIf="getErrors('state')?.['required']">please provide a state</p>
        </div>
        
      </div>

      <div class="form-group">
        <input
          type="text"
          placeholder="City"
          class="form-control"
          formControlName="city"
        />
        <div *ngIf="getErrors('city') && getField('city')?.touched">
          <p *ngIf="getErrors('city')?.['required']">please provide a city</p>
        </div>
        
      </div>
    </div>

    <div class="form-group">
      <input
        type="text"
        placeholder="Phone"
        name="phone"
        class="form-control"
        formControlName="phone"
      />
      <div *ngIf="getErrors('phone') && getField('phone')?.touched">
        <p *ngIf="getErrors('phone')?.['required']">please provide a phone</p>
        <p *ngIf="getErrors('phone')?.['minlength']">
          please provide a valid phone
        </p>
        <p *ngIf="getErrors('phone')?.['maxlength']">
          please provide a valid phone
        </p>
      </div>
    </div>

    <div class="form-group">
      <button name="submit" [disabled]="registerForm.invalid" class="btn">Register</button>
    </div>
  </form>
</div>
